<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bdAlcaldia</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">password</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    
    <mapping class="datos.usuarios"/>
    <mapping class="datos.roles"/> 
    <mapping class="datos.estados"/>
    <mapping class="datos.categorias"/>
    <mapping class="datos.publicaciones"/>
    <mapping class="datos.comentarios"/> 
    <mapping class="datos.noticias"/>  
    <mapping class="datos.contribuyentes"/>
    <mapping class="datos.inmuebles"/>
    <mapping class="datos.zonas"/>
    <mapping class="datos.pagos"/>
    <mapping class="datos.impuestos"/>
    <mapping class="datos.impuestosinmuebles"/>
    <mapping class="datos.montosimpuestos"/>
    <mapping class="datos.imgdescriptions"/>

    

  </session-factory>
</hibernate-configuration>
